body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: lightskyblue;
}
h1 {
    border: ridge 5px;
    border-color: black;
    text-align: center;
    border-radius: 100%;
    padding: 15px;
    background-color: white;
}
h2{
    border: 25px;
    border-color: black;
    border-radius: 30%;
    padding: 5px;
}
a {
    color: #00B7FF;
}

hr {
    width: 15%;
    min-width: 250px;
    height: 12px;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    margin-left: 0;
    background-color:#00A000;
    color:#00d6b2;
    border: 0 none;
}

hr.clear {
    clear: both;
}

.displayArea {
    background-color: #679bde;
    border: solid medium #00A000;
    border-radius: 6px;
    width: 15%;
    min-width: 250px;
}

button {
    margin: 5px;
    border-radius: 6px;
    color: white;
    background-color: darkslateblue;
}

input {
    margin: 5px;
}

.jsonArea {

}

div.radio {
    clear: both;
    margin-bottom: 2px;
    margin-left: 5px;
    padding-bottom: 10px;
    width: 250px;
}

label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4
}


/* hide input */
input.radio:empty {
    margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.5em;
    text-indent: 3.25em;
    margin-top: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: green;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}