//
   Created by bcuser on 3/2/15.

<div class="page-header">
<h1>MidTerm
<br />
<small>Prog272 Cutchins</small></h1>
</div>
<nav class="navbar navbar-default">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
// Hamburger menu here, and shown in next slide
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li ng-class="{ active: isActive('/')}"><a ng-href="#/">Home</a></li>
// Dropdowns are defined here and shown in later slide
<li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
<div class="row">
<div class="col-xs-6 col-md-3">
<a href="About.jade" class="thumbnail">
<img src="https://drive.google.com/uc?export=view&id=0B3RagLluAKaHbE8yUDMyWTdlMVk" width="300" height="532" alt="Googe Link">
</a>
</div>

