extends layout

block content
  h1= title
  p Demo Page

  p #debug

    div
        input#inputFirstName(type="text", placeholder='first name')
        input#inputLastName(type="text", placeholder='last name')
    hr
    button#firstNameButton Get First Name
    button#lastNameButton Get Last Name

    p#firstName
    p#lastName

    button#getPresidents Get Presidents
    hr
    ul#displayPresidents