extends layout

block content
  heading
    h1= title
      p This is the JQuery demo

  br
  br
  div
  .jsonArea
        h2 HTML fields
        .displayArea
            button#MaleButton Insert Male
            button#FemaleButton Insert Female
            button#clearButton Clear
        hr
        .displayArea
        .displayArea
            input#inputFirstName(type="text", placeholder='first name')
            input#inputLastName(type="text", placeholder='last name')
            input#inputAddress(type="text", placeholder='Address')
            input#inputCity(type="text", placeholder='City')
            input#inputState(type="text", placeholder='State')
        hr
        .displayArea
        .displayArea
            input#insertMale(type='checkbox', value='Male')
            | Male
            br
            input#insertFemale(type='checkbox', value='Female')
            | Female
        hr
        .displayArea
        .displayArea
          button#getName Get Name
          button#getAddress Get City, State, Zip
          br
          button#getAge Get Age
        hr
        .displayArea
        .displayArea
            #textField(style='width: 300px; height: 150px;')
                p#putName
                p#putAddress
                p#putAge
        .displayArea
  div
  .jsonArea
        h2 JSON

            .displayArea
                button#getPresidents Load JSON with jquery.GetJSON
                button#ajax Load JSON with jquery.ajax
            hr
            .displayArea
            .displayArea
                ul#displayPresidents
                ol#displayAjax
            .displayArea




